/*
Template CSS :  Cargo;
Version :       1.0;
Author :        workbythai;
*/


/*------------------------------------*
$FONTFACE
*------------------------------------*/

@font-face {
    font-family: 'kanitbold';
    src: url('../fonts/kanit/kanit-bold-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kanitlight';
    src: url('../fonts/kanit/kanit-light-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kanitmedium';
    src: url('../fonts/kanit/kanit-medium-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kanitregular';
    src: url('../fonts/kanit/kanit-regular-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*------------------------------------*
$Structure
*------------------------------------*/

body {
      font-family: 'kanitlight';
      min-height: 100vh;
      background-color: #f0f0f0;
      color: #333333;
}

.nc-thumbnail{
    background-color: #ffffff;
    box-shadow: 6px 4px 20px #d8d3d3;
    padding: 30px 60px;
}

.nc-card-item{
    background-color: #ffffff;
    box-shadow: 2px 2px 7px #d8d3d3;
    padding: 20px;
    margin: 30px 0px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 4px solid #001a95;
}

.nc-card-info{
    background-color: #f5f5f5;
    padding: 15px 20px;
}

/*--------------- button link (a) ---------------*/
.nc-btn{
    color: #fff;
    background-color: #021a95;
    border: 2px solid;
    padding: 6px 15px; 
    height: 40px;
    font-size: 16px;
    font-weight: 600;
}
.nc-btn:hover{
    color:  #021a95;
    background-color: #fff;
    border: 2px solid;
    transition: 0.5s;
}

/*------------nav ber---------------*/
.navbar-light .navbar-nav .nav-link {
    color: rgb(2, 26, 149);
    font-size: 18px;
    font-weight: 600;
}


 .navbar-inverse.nav-upper {
  height: 50px;
}
.navbar-inverse.nav-upper ul {
  float: right;
  display: table;

}
.navbar-inverse.nav-upper .navbar-upper > li {
  display: table-cell;
  font-size: 14px;
}


.navbar-frame{
    position: relative;
    width: 180px;
    height: 20px;
}

.navbar-logo {
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: 1051;
    width: 100%;
    height: auto;
}


.navbar-hr {
     border-color: #001a95;
     border-width: 6px;
}
.btn-nar-login{
    color: #fff;
    background-color: #021a95;
    border: 2px solid;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    font-size: 16px;
    margin-left: 11px;
    font-weight: 600;
}
.btn-nar-login:hover{
    color:  #021a95;
    background-color: #fff;
    border: 2px solid;
    transition: 0.5s;
}
.navbar-light .navbar-toggler {
    color: rgb(2, 26, 149);
    border-color: rgb(2, 26, 149);
    border-width: 2px;
    margin-left: auto;
}
.nav-pad{
    padding-right: 10px;
    padding-left: 20px
}
.nav-btn-rep{
    list-style: none;
    padding-left: 0px;
}
/*-----------nav ber end-------------*/


/*------------wrapper---------------*/
.wrapper {
    min-height: calc(100vh - 466px);
}
/*------------wrapper end------------*/

/*-----------footer------------------*/
.footer-h{
   background-color:#45494c;
    height: auto;
    color: #f5f5f5; 
}
.footer-h-1{
   background-color:#3e3f41;
    height: auto;
    color: #f5f5f5; 
}
.footer-img-fram{
    position: relative;
    /* overflow: hidden; */
    width: 100px;
    height: 20px;
}
.footer-img{
/*    position: absolute;
    top: 50%;
    left: 0%;
    z-index: 1051;*/
    width: 100%;
    height: auto;
}
.footer-text-size{
    font-size: 14px
}
.footer-text-size a{
    color: #ffffff;
}

.footer-text-size a:hover {
    color: #007bff;
    font-weight: 600;
    text-decoration: none;
}

.footer-icon-3-google{
   background-color: #45494c;
    color: #ffffff;
    width: 27px;
    font-size: 15px;
    border: 2px solid;
    height: 27px;
    padding: 4px 0px 0px 4px;
}

.footer-mar{
    margin-top: 30px;
}
.footer-text-2{
    font-size: 20px;
    font-weight: 600;   
}
.footer-t-l{
    font-size: 30px;
    font-weight: 900;
}
.footer-t{
    font-size: 25px;
    font-weight: 800;
}
.footer-mt{
    margin-top: -50px;
}
/*-----------footer------------------*/


/*-----------All Class--------------*/
.bg-blue{
    background-color: #021a95;
}
.bg-white{
    background-color: white;
}
.text-white{
    color: white;
}
.text-blue{
    color: #021a95;
}
.text-weight-600{
    font-weight: bold;
}


a:hover {
    color: #0056b3;
    text-decoration: none;
}
.as_boxshadow{
    box-shadow: 6px 4px 20px #d8d3d3;
}


.head-contact{
    font-weight: bold;
}



/*----------------------------------------
-------------login-page------------------
-----------------------------------------*/
.navbar-light .navbar-nav .nav-link.active{
    border-top: 2px solid #021a95;
    color: #021a95;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    border-top: 2px solid #021a95;
    color: #021a95;
}
.login-page_h1-login{
    background-color: #dce6ef;

}
.login-page_frame{
     position: relative;
     overflow: hidden;
     width: 100%;
     height: auto;
}

.input-group-text{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.form-control{
    border-radius: 0px !important;s
}

.login-page_dis{
    display: inline-flex;
    margin-top: 15px;
}
.login-page_link{
    margin-left: 15px;
    color: #ef5a24;
}


.login-page-btn-nar-login {
    color: #fff;
    background-color: #021a95;
    border: 2px solid;
    border-color: #021a95;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    margin: auto;
}
.login-page-btn-nar-login:hover{
    color:  #021a95;
    background-color: #fff;
    border: 2px solid;
    transition: 0.5s;
}
.login-page-color{
    color: black;
}
.login-page-hr{
    border-color: #001a95;
    border-width: 6px;
    width: 160px;
}
.login-page-bg{
    background-color: white;
}
.login-page-padding{
    padding: 70px 70px 130px 70px;
}

.login-page_frame-crad{
     position: relative;
     overflow: hidden;
     width: 100%;
     height: 250px;
}
.login-page_card {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0px;
}
.login-page_card-img-top {
    width: 100%;
    padding: 20px 20px 3px 20px;
}
.login-page_fix_text{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 48px;
    color: #021a95;
    font-weight: bold;
}
.login-page_font{
    padding: 50px 0px 30px 0px;
}
.login-page_hade{
    font-weight: bold;
}

.login-page_pad{
    padding: 30px 60px;
}
.login-page_boxshadow{
    box-shadow: 6px 4px 20px #d8d3d3;
}
.logia-page_fix_text{
    position: relative;
    overflow: hidden;
    width: auto;
    height: 70px;
}





/*----------------------------------------
-------------login-page end------------------
-----------------------------------------*/



/*----------------------------------------
---------------news-----------------------
-----------------------------------------*/
.news_card {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0px;
}
.news_card-img-top {
    width: 100%;
    padding: 20px 20px 3px 20px;
    height: 250px;
}
.news_fix_text{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 48px;
    color: #021a95;
    font-weight: 600;
}
.news_hade{
    font-weight: bold;
}
.news-hr{
    border-color: #001a95;
    border-width: 6px;
    width: 160px;
}
.news_pad{
    padding: 30px 60px;
}
.news_mar_10{
    margin-bottom: 20px;
}
.news_page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    color: #6e6f71;
    background-color: #f0f1f1;
    border: 0px solid #dee2e6; 
    border-radius: 0px;
}
.news_page-link:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #021a95;
    border-color: #dee2e6;
}
.news_fix_text_3{
    position: relative;
    overflow: hidden;
    width: auto;
    height: 70px;
}




/*----------------------------------------
---------------news end--------------------
-----------------------------------------*/


/*----------------------------------------
-------------history-page------------------
-----------------------------------------*/
.head-history{
    font-weight: bold;
    color: #001a95;
}

.stepwizard-step p {
    margin-top: 10px;    
}

.process-row {
    /*display: table-row;*/
}

.process {
    display: table;     
    width: 100%;
    position: relative;
    color: #cacaca;
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.process-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.process-step p {
    margin-top:10px;
    
}

.process-icon{
    width: 160px;
}

.process-row .process-step.active{
    color: #3fba2e;
}

.btn-circle {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}




/*----------------------------------------
----------contact-page start--------------
-----------------------------------------*/


.img-contact{
    display: block;
}

.info-contact{
    padding-left: 30px;
}

.line-contact{
    width: 40%;
}

.contact-in{
    list-style: none;
    padding-left: 0px;
}

.contact-item{
    display: flex;
    margin-bottom: 7px;
}

.text-contact{
    margin-left: 30px;
}

/*----------------------------------------
----------contact-page end----------------
-----------------------------------------*/

/*---------------------------------------
----------news_details-------------------
----------------------------------------*/
.news_details_font_12{
    font-size: 12px;
}
.news_details_pad{
    padding: 30px 60px;
}
.news_details_indent{
    text-indent: 35px;
}
.news_details_frame{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.news_details_img{
    width: 100%;
    height: auto;
}
.new_details_pad_img{
    padding: 30px 100px 30px 100px;
}

/*---------------------------------------
----------news_details end----------------
----------------------------------------*/

/*--------------------------------------
--------------about---------------------
---------------------------------------*/

.about_pad{
    padding: 30px 60px;
}
.about_frame{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto; 
}
.about_pad_frame{
     padding: 50px 200px 50px 200px;
}
.about_img {
    width: 100%;
    height: auto;
}

/*--------------------------------------
--------------about end-----------------
---------------------------------------*/



/*----------------------------------------
----------history-page start--------------
-----------------------------------------*/
.tb-detail tr th{
    padding: 5px 0px;
    width: 160px;
    vertical-align: top;
}
.tb-detail tr td{
    padding: 5px 0px;
}

.no-wrap{
    white-space: nowrap;
}


/*----------------------------------------
----------history-page end----------------
-----------------------------------------*/


/*------------All Class End--------*/



/*------------------------------------*
$End Structure
*------------------------------------*/


@media (max-width: 1366px){
     /*---------footer 1366-----------*/

    .footer-up{
        margin-top: -4px;
    }
    /*---------footer end 1366-----------*/

}

@media (max-width: 1024px){

    .nc-thumbnail{
        padding: 30px 30px;
    }

    /*---------footer 1024-----------*/

    .footer-up{
        margin-top: -2px;
     }
    /*---------footer end 1024-----------*/


    /*------------------------------------
    ---------------Login-page 1024----------
    --------------------------------------*/
    .login-page_dis {
        display: inline-flex;
        margin-top: 0px;
        font-size: 15px;
    }
    .login-page_dis-1{
        font-size: 15px;
        padding-bottom: 15px;
        padding-top: 10px;
    }
    .login-page_pad {
        padding: 20px 0px 20px 0px;
    }
    .login-page_mar_10{
        margin-bottom: 20px;
    }
    
  /*------------------------------------
    ---------------Login-page end 1024----
    --------------------------------------*/

    /*------------------------------------
    ----------------news 1024--------------
    ---------------------------------------*/
    .news_pad {
        padding: 20px 0px 20px 0px;
    }
   /*------------------------------------
    ----------------news 1024 end--------------
    ---------------------------------------*/

    /*--------------------------------------
    -----------------about 1024-------------
    --------------------------------------*/
    .about_pad {
        padding: 20px 0px 20px 0px;
    }
     /*--------------------------------------
    -----------------about end 1024---------
    --------------------------------------*/




    /*---------------------------------------
    ----------news_details 1024-------------------
    ----------------------------------------*/

    .news_details_pad{
        padding: 20px 0px 20px 0px;
    }


    /*---------------------------------------
    ----------news_details end 1024-----------
    ----------------------------------------*/



}

@media (max-width: 768px){
    .nc-thumbnail{
     padding: 30px 20px;
}
 
  /*---------navber 768--------*/
  .navbar-frame {
    position: relative;
    /* overflow: hidden; */
    width: 155px;
    height: 15px;
}
 .navbar-768{
    margin-top: 30px;
 }
 .btn-nar-login {
    color: #fff;
    background-color: #021a95;
    border: 2px solid;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
    font-size: 18px;
    margin-left: 0px;
    font-weight: 600;
}
.nav-768-rep{
    margin: 20px 0px 30px 0px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(2, 26, 149);
    border: 2px solid;
    padding-left: 10px;

}
.navbar-inverse.nav-upper {
    height: 40px;
}

/*---------navber end 768------*/


/*---------footer 768-----------*/
.footer-img{
    width: 150px;
}
.footer-t-l {
    font-size: 20px;
    font-weight: 900;
}
.footer-t {
    font-size: 18px;
    font-weight: 800;
}
/*--------footer end 768----------*/




/*----------------------------------------
----------contact-page 768--------------
-----------------------------------------*/

.img-contact{
    display: none;
}

/*----------------------------------------
----------history-page 768--------------
-----------------------------------------*/


}

@media (max-width: 414px){
    .nc-thumbnail{
        padding: 30px 15px;
    }
    /*----------navber 414----------*/
    .navbar-logo {
        position: absolute;
        top: 130%;
        left: 0%;
        z-index: 1051;
        width: 80px;
        height: auto;
    }
    .navbar-inverse.nav-upper {
      height: auto;
    }


     /*----------navber 414----------*/

 





    /*----------------------------------------
    ----------contact-page 414----------------
    -----------------------------------------*/
    .info-contact {
        padding-left: 0px;
    }
    .line-contact{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    /*----------------------------------------
    ----------contact-page 414 end-------------
    -----------------------------------------*/

    /*---------------------------------------
    ---------------news_details 414----------
    ------------------------------------------*/
    .new_details_pad_img{
        padding: 20px 0px 20px 0px;
    }
    /*---------------------------------------
    ---------------news_details end 414-------
    ------------------------------------------*/

    /*----------------------------------------
    -------------------about 414--------------
    ------------------------------------------*/
    .about_pad_frame{
        padding: 20px 0px 20px 0px;
    }
    /*----------------------------------------
    -------------------about 414 end-----------
    ------------------------------------------*/



}

@media (max-width: 375px){



    

}


@media (max-width: 320px){

/*-------- history page-------------*/

    .tb-detail tr th{
        padding: 5px 0px;
        width: 120px;
    }
    .nc-card-info {
        padding: 15px 15px;
    }


}
